[Unit]
Description=EHOS daemon
After=galaxy.service

[Service]
UMask=022
Type=simple
User={{ ecc_daemon_user }}
Group={{ ecc_daemon_group }}
WorkingDirectory={{ ecc_base_dir }}
TimeoutStartSec=10
ExecStart={{ ecc_base_dir }}/ecc_wrapper.sh
ExecStop={{ ecc_base_dir }}/ecc_stop.sh
Restart=always

[Install]
WantedBy=multi-user.target