openstack:
    auth_url: https://api.uh-iaas.no:5000/v3
    image: 578114a1-3b45-4367-8130-b46fdea32820
    project_domain_name: dataporten
    project_name: {{ openstack_prjname }}
    region_name: {{ openstack_region_name }}
    user_domain_name: dataporten
    username: "{{ openstack_user1 }}"
    password: "{{ openstack_password1 }}"

ecc:
    log: ecc.log
    nodes_max: {{ nodes_max }}
    nodes_min: {{ nodes_min }}
    nodes_spare: {{ nodes_spare }}
    sleep: 30
    flavor: {{ openstack_flavor }}
    image: GOLD CentOS 7
    key: {{ openstack_key }}
    network: dualStack
    security_groups: slurm-node
    name_template: {{ openstack_name_template }}
    cloudflare_apikey: "{{ cloudflare_api_token }}" 
    cloudflare_email: "{{ cloudflare_email }}"
    cloud_init: /srv/ecc/ecc_node.yaml
    ansible_cmd: "/srv/ecc/venv/bin/ansible-playbook -i '/srv/ecc/bin/ecc_nodes.py' slurm.yml -e'ansible_user=centos'"
    ansible_dir: {{ ansible_dir }}

